{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/user_profile.css' %}">
{% endblock %}

{% block content %}
<div class="container ">
    <div class="row ">
        <div class="col-10 mt-5">
            <hr>
            <h2 class="mt-5 mb-4 text-center">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Saved delivery info</h3>
            <form action="{% url 'user_profile' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark" >Update User</button>
            </form>
        </div>
        <div class="col">
            <div class="col">
                <h3>Order history</h3>
                {{ orders }}
            </div>
        </div>
    </div>
    username: {{ profile }}
{% endblock %}
