{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="checkout-success" style="margin:8em auto;">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <h2 class="mt-5 mb-4 text-center">Thank you for your order</h2>
                <hr>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-6">
                <h4>Order Number</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.order_number }}</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-6">
                <h4>Order Date</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.date }}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 mt-2">
                <h1 >Order Details:</h1>
            </div>
        </div>
        {% for product in order.lineitems.all %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p>{{ product.product.name }}{% if product.color != 'N/A' %} Colour: {{ product.color|upper }}
                        {% else %} {% endif %}</p>
                </div>
                <div class="col-12 col-lg-6">
                    <p>{{ product.quantity }} x {{ product.product.price }} each</p>
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="row ">
            <div class="col-12 col-lg-8 mt-2">
                <h2 >Deliery details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Name</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.full_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Address 1</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.street_address1 }}</p>
            </div>
        </div>
        {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4>Address 2</h4>
                </div>
                <div class="col-12 col-lg-6">
                    <p>{{ order.street_address2 }}</p>
                </div>
            </div>
        {% endif %}
        {% if order.county %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4>County</h4>
                </div>
                <div class="col-12 col-lg-6">
                    <p>{{ order.county }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4>Town or City</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.town_or_city }}</p>
            </div>
        </div>
        {% if order.order.postcode %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4>Postal Code</h4>
                </div>
                <div class="col-12 col-lg-6">
                    <p>{{ order.postcode }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <h4>Country</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.country }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <h4>Phone Number</h4>
            </div>
            <div class="col-12 col-lg-6">
                <p>{{ order.phone_number }}</p>
            </div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-12 col-lg-8 mt-2">
                <h2>Order Summary:</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-8">
                <h4>Order Total</h4>
                <p>{{ order.order_total }}</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-8">
                <h4>Grand Total</h4>
                <p>{{ order.grand_total }}</p>
            </div>
        </div>
        <div class="row  mb-3 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <a href="{% url 'user_profile' %}" class="btn btn-large btn-uq rounded-0 mx-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}