@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Spirax&display=swap');



* {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3 {
    font-family: 'Spirax', cursive;
}
nav a {
    font-family: 'Spirax', cursive;
    font-size: 1.4em;
}

nav i {
    font-size: 1.2em;
}

.update-link, .remove-item  {
    cursor: pointer;
}
/*---------------------- Buttons */
.btn-home {
    background-color: #467599;
    color: #fff;
}

/*---------------------- Base */
.unique-navbar {
    background-color: #e0e1d0;
    color: #000;
    border-bottom: 1px solid #150578;
}
footer {
    background-color: #e0e1d0;
    color: #000;
    border-top:2px solid #150578;
}
/*---------------------- Home Page  */
.caption {
    color:#fff;
    background-color:rgba(0,0,0,0.5);
    margin-bottom: 2em;
    padding: 1em;
}
/*--------------------- Product Details */
.review-notification {
    background-color: #e0e1dd;
    padding: 1em;
    border:1px solid #467599;
}

.rate-field textarea {
    width: 100%;
}

.rate-field select{
    font-size: 1.5em;
    padding: .2em;
    background-color: #e0e1dd;
    width: 30%;
    align-items: center;
    text-align: center;
}

.rate-field select::selection {
    background-color: #467599;
    border:1px solid #467599;
}
/*---------------------  Contact Form */
.contact h1{
    font-family: 'Spirax', cursive;
}

.contact label {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}
.contact span {
    display: none;
}
.contact-form {
    background-color: #e0e1dd;
    padding: 1em;
    border: 1px solid #467599;
}

.btn-contact {
    background-color: #467599;
    color: #fdfdff;
    font-weight: 600;
}

/*--------------------------- Media Queries*/