@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Spirax&display=swap');



* {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3 {
    font-family: 'Spirax', cursive;
}
nav a {
    font-family: 'Spirax', cursive;
    font-size: 1.4em;
    white-space: nowrap;
}
.nav-link {
color: #000;
}

nav i {
    font-size: 1.2em;
}

.update-link, .remove-item  {
    cursor: pointer;
}
.form-uq,
.form-uq select {
    border-radius: 0;
}
/*---------------------- Buttons */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 999;
}
.btn-home {
    background-color: #467599;
    color: #fff;
}
.btn-light-uq {
    background-color: #fff;
    color: #150578;
    border: 1px solid #150578;
}
.btn-light-uq:hover {
    background-color: #150578;
    color: #fff;
}
.btn-uq {
    background-color: #000;
    color: #fff;
}
.btn-uq:hover {
    background-color: #150578;
    color: #fff;
}
.icons-uq:hover {
    color: #150578;
}
/*---------------------- Base */
.unique-navbar {
    background-color: #e0e1d0;
    color: #000;
    border-bottom: 1px solid #150578;
}

#logo {
    width: 100px;
}
footer {
    background-color: #e0e1d0;
    color: #000;
    border-top:2px solid #150578;
}
/*---------------------- Checkout */
.checkout-success {
    background-color: #e0e1dd;
    margin: 7em 0 3em 0;
    padding: 1em;
}
/* .order-details p{
    font-size: 1.6em;
    font-weight: 500;
} */
/*---------------------- Home Page  */
.caption {
    color:#fff;
    background-color:rgba(0,0,0,0.5);
    margin-bottom: 2em;
    padding: 1em;
}
/*--------------------- Products */
.card-uq {
    border: 1px solid #150578;
}
.container-products {
    margin-bottom: 6em;
}
.card-footer-uq {
    background-color: #467599;
    
}
.card-footer-uq p {
    color: #fff;
    text-decoration: double;
}
.card-footer:last-child {
border-radius: 0;}

.icons-category {
    color: #000;
}
.icons-category:hover {
    color: #fff;
}
/*--------------------- Product Details */
.product-details {
    background-color: #e0e1d0;
    color: #000;
    padding: 1em;
    border: 1px solid #150578;
}
.product-details p {
    font-weight: 400;
    font-size: 1.2em;
}
.product-details p strong {
    font-size: 1.5em;
}
.form-group-uq {
    max-width: 10em;
}
.review-notification {
    background-color: #e0e1dd;
    padding: 1em;
    border:1px solid #467599;
}


.rate-field textarea {
    width: 100%;
}

.rate-field select{
    font-size: 1.5em;
    padding: .2em;
    background-color: #e0e1dd;
    width: 30%;
    align-items: center;
    text-align: center;
}

.rate-field select::selection {
    background-color: #467599;
    border:1px solid #467599;
}

.sing-in-info {
    font-size: 1.3em;
    color: #000;
    font-weight: 500;
}
/*---------------------  Forms */
.allauth-container,
.contact {
    margin-top: 10em;
}


.contact h1,
.allauth-form-inner-content h1{
    font-family: 'Spirax', cursive;
}

.contact label,
.allauth-form-inner-content label {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
}
.contact span,
.allauth-form-inner-content span {
    display: none;
}
.contact-form,
.allauth-form-inner-content {
    background-color: #e0e1dd;
    padding: 1em;
    border: 1px solid #150578;
}
.contact-form input,
.contact-form textarea,
.allauth-form-inner-content input {
    border-radius: 0;
    border: 1px solid #150578;
}

.btn-contact
.allauth-form-inner-content {
    background-color: #fff;
    color: #150578;
}

.btn-contact:hover {
    background-color: #150578;
    color: #fff;
    font-weight: 500;
}
/*--------------------------- Errors */
a.error {
    text-decoration: none;
    color: #150578;
    font-size: 1.5em;
}
a.error:hover {
    font-size: 3em;
    transition: 1s;
}
/*--------------------------- Media Queries */

@media screen and (max-width: 1046px) {
    nav a {
        font-size: 1.1em;
    }
}