@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Spirax&display=swap');

nav {
    font-family: 'Spirax', sans-serif;
    font-size: 1.3em;
}

nav i {
    font-size: 1.2em;
}