{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container container-error">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center">
                <h1 class="text-center">500</h1>
                <p>Ups, something went wrong<br>
                    Click <a class="error" href="{% url 'home' %}">here</a> to return to the main site.</p>
                <img src="{% static 'img/error.jpg' %}" alt="error image" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}