{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/f6667abd86.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>Unique Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/media/logo.png" alt="logo" style="width: 100px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav col-md-4 me-auto offset-lg-4 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-dark" type="submit" style="margin-right: .1em;">Search</button>

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="d-flex">
                    <li class="nav-item list-unstyled dropdown ">
                        <a class="text-black nav-link" role="button" href="#" id="user-account"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user-circle"></i></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="user-account">
                            <li><a href="#" class="dropdown-item">My Profile</a></li>
                            <li><a href="#" class="dropdown-item">Register</a></li>
                            <li><a href="#" class="dropdown-item">Login</a></li>
                        </ul>
                    </li>
                    <li class="nav-item list-unstyled dropdown me-1">
                        <a class="text-black nav-link" role="button" href="#" id="user-account"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-cart"></i></div>
                            </div>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>