{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Contact Form -->
<main class="flex-shrink-0"></main>
    <div class="container contact text-center">
        <h1 class="text-center mb-5">CONTACT Us</h1>
        <div class="row">
            <!-- Store information -->
            <div class="col-sm-5 pt-5">
                <h2 class="mb-2">Unique shop</h2>
                <p><i class="fas fa-map-marker-alt"></i> 
                    Unit 24, George’s
                    Street Arcade<br>
                    South Great George’s<br>
                    Street Dublin, D02 DH79
                    Ireland</p>
                <p><i class="fas fa-phone">+353 1 671 9184</i> </p>
                <p><i class="fas fa-store"></i><br>Our Opening Hours <br>
                    Monday: 10.30am – 6.30pm <br>
                    Tuesday: 10.30am – 6.30pm <br>
                    Wednesday: 10.30am – 6.30pm <br>
                    Thursday: 10.30am – 7.00pm <br>
                    Friday: 10.30am – 6.30pm <br>
                    Saturday: 10.30am – 6.30pm <br>
                    Sunday: 12.00pm – 6.00pm</p>
            </div>
            <!-- Conatct form -->
            <div class="col-sm-7 contact-form">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field | as_crispy_field}}
                            {% endfor %}
                            <input type="submit" value="Submit" class="btn btn-contact">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}
{% endblock %}