{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        {% for product in products %}
        <div class="col-sm-6 col-lg-4 col-xl-3 mt-5">
            <div class="card h-100 mt-5">
                {% if product.image %}
                <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer">
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                        <p class="mt-1 mb-0"> €{{ product.price }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}