<div class="toast-container position-absolute p-3 top-3 end-0" style="z-index: 999">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="toast-header toast-error text-danger border-danger">
            <i class="fas fa-exclamation-circle fa-xl me-2"></i>
            <h5 class="pt-1 me-auto">Error</h5>
            <button type="button" class="toast-close btn-close btn-close-dark" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-black-4">
            <p>{{ message }}</p>
        </div>
    </div>
  </div>